# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.env
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Other
*.executed.ipynb
uv.lock

# Logs + datasets
notebooks/data
notebooks/runs
mlruns
notebooks/data
notebooks/runs