# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.env
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage

# IDE
.idea/
.vscode/
*.swp
*.swo
.claude
CLAUDE.md

# OS
.DS_Store
Thumbs.db

# Other
*.executed.ipynb

# Logs + datasets
notebooks/data
notebooks/runs
mlruns
data
notebooks/data
notebooks/runs
/local_runs

report/compiled
